In [1]:
#importar bibliotecas necessárias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
from sklearn.preprocessing import StandardScaler

In [2]:
 #ler csv
df=pd.read_csv('dataset_sudeste_realista_outliers-2k.csv')

In [3]:
df.head(40) #mostrar primeiras 40 linhas

    id  idade     renda          cidade categoria  nota feedback
0    1   16.0  42455.22  Belo Horizonte         B   7.6      Bom
1    2   62.0  43551.51  Belo Horizonte         B   5.1      Bom
2    3   44.0  18124.62  Rio de Janeiro         B   8.9      Bom
3    4   53.0  35339.45       São Paulo         B   5.3      Bom
4    5    NaN  37560.70       São Paulo         A   7.0      Bom
5    6   25.0  29344.50         Vitória         A   8.7      Bom
6    7   49.0  20612.81       São Paulo         B   8.5      Bom
7    8   61.0   1744.18       São Paulo         B   7.3      Bom
8    9   48.0  44460.52         Vitória         A   9.8      Bom
9   10   74.0  45709.95  Belo Horizonte         B   7.9      Bom
10  11   30.0  38198.46  Rio de Janeiro         A   5.3      Bom
11  12   58.0  34323.62  Belo Horizonte         A   6.3      Bom
12  13    NaN  43985.43       São Paulo         A   7.9      Bom
13  14   35.0  19340.70       São Paulo         B   9.6      Bom
14  15   54.0  34632.02  Rio de Janeiro         B   6.6      Bom
15  16   26.0   6664.73  Belo Horizonte         B   6.0      Bom
16  17   54.0  33404.19  Rio de Janeiro         A   8.2      Bom
17  18   31.0  21883.37         Vitória         B   8.0      Bom
18  19   59.0  16824.32  Belo Horizonte         B   9.8      Bom
19  20   18.0   6822.93  Rio de Janeiro         B   6.8      Bom
20  21   36.0  22693.80  Rio de Janeiro         A   9.2      Bom
21  22   62.0  28096.91       São Paulo         A   6.2      Bom
22  23   74.0  16814.98  Rio de Janeiro         B   5.6      Bom
23  24   62.0  29524.28         Vitória         A   5.1      Bom
24  25   30.0  15027.87         Vitória         B   8.9      Bom
25  26   70.0  21628.37         Vitória         B   5.4      Bom
26  27   49.0  38475.24  Belo Horizonte         B   6.5      Bom
27  28   21.0  25979.34       São Paulo         A   5.6      Bom
28  29   45.0  24613.93       São Paulo         A   8.6      Bom
29  30   60.0  42364.46  Belo Horizonte         A   7.0      Bom
30  31   38.0   7259.59         Vitória         B   5.6      Bom
31  32   53.0  21927.80  Belo Horizonte         B   8.6      Bom
32  33   74.0  43343.88         Vitória         A   6.0      Bom
33  34   39.0  15559.61         Vitória         A   6.7      Bom
34  35   41.0  44638.12         Vitória         A   7.5      Bom
35  36   66.0  10138.57         Vitória         B   9.3      Bom
36  37   32.0  26005.71         Vitória         B   7.7      Bom
37  38   41.0   8486.40       São Paulo         A   8.3      Bom
38  39   23.0  21371.32         Vitória         B  10.0      Bom
39  40   53.0  19485.14       São Paulo         B   8.9      Bom

In [4]:
#informações geriais, é possivel ver os tipos de dados, total de colunas, quantos valores não nulos 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         2000 non-null   int64
 1   idade      1974 non-null   float64
 2   renda      1984 non-null   float64
 3   cidade     1983 non-null   object
 4   categoria  1980 non-null   object
 5   nota       1981 non-null   float64
 6   feedback   1923 non-null   object
dtypes: float64(3), int64(1), object(3)
memory usage: 109.5+ KB

In [5]:
df.describe() #Informações estatísticas

                id        idade         renda         nota
count  2000.000000  1974.000000   1984.000000  1981.000000
mean   1000.500000    49.040020  23937.121759     7.414791
std     577.494589    19.618147  13232.070647     1.514425
min       1.000000     5.000000    498.470000     0.600000
25%     500.750000    32.000000  12854.965000     6.200000
50%    1000.500000    49.000000  23666.495000     7.400000
75%    1500.250000    66.000000  34800.202500     8.600000
max    2000.000000   120.000000  88262.740000    10.000000

In [6]:
df.describe(include='all') #descrição com mais detalhes

,id,idade,renda,cidade,categoria,nota,feedback
count,2000.000000,1974.000000,1984.000000,1983,1980,1981.000000,1923
unique,NaN,NaN,NaN,4,2,NaN,1
top,NaN,NaN,NaN,Vitória,B,NaN,Bom
freq,NaN,NaN,NaN,529,998,NaN,1923
mean,1000.500000,49.040020,23937.121759,NaN,NaN,7.414791,NaN
std,577.494589,19.618147,13232.070647,NaN,NaN,1.514425,NaN
min,1.000000,5.000000,498.470000,NaN,NaN,0.600000,NaN
25%,500.750000,32.000000,12854.965000,NaN,NaN,6.200000,NaN
50%,1000.500000,49.000000,23666.495000,NaN,NaN,7.400000,NaN
75%,1500.250000,66.000000,34800.202500,NaN,NaN,8.600000,NaN
max,2000.000000,120.000000,88262.740000,NaN,NaN,10.000000,NaN

In [7]:
#contar valores nulos 
df.isnull().sum()

id            0
idade        26
renda        16
cidade       17
categoria    20
nota         19
feedback     77
dtype: int64

In [8]:
#utlizando métodos pandas para achar as medidas estatísticas
mediana_idade = df['idade'].median()
mediana_nota = df['nota'].median()
mediana_renda = df['renda'].median()
media_renda = df['renda'].mean()


print(f'Mediana das idades {mediana_idade}')
print(f'Mediana das Notas {mediana_nota}')
print(f'Mediana das rendas {mediana_renda}')
print(f'valor medio das rendas {media_renda:.4f}')

Mediana das idades 49.0
Mediana das Notas 7.4
Mediana das rendas 23666.495
valor medio das rendas 23937.1218

In [9]:
#Calculo IQRe outliers para renda, idade e nota

Q1_renda = df['renda'].quantile(0.25)
Q3_renda = df['renda'].quantile(0.75)
IQR_renda = Q3_renda - Q1_renda
limite_inferior_renda = Q1_renda - 1.5 * IQR_renda
limite_superior_renda = Q3_renda + 1.5 * IQR_renda

outliers_renda=df[(df['renda'] < limite_inferior_renda) | (df['renda'] > limite_superior_renda)]

#---------------------------------------------------------

Q1_idade = df['idade'].quantile(0.25)
Q3_idade = df['idade'].quantile(0.75)
IQR_idade = Q3_idade - Q1_idade
limite_inferior_idade = Q1_idade - 1.5 * IQR_idade
limite_superior_idade = Q3_idade + 1.5 * IQR_idade

outliers_idade=df[(df['idade'] < limite_inferior_idade) | (df['idade'] > limite_superior_idade)]

#---------------------------------------------------------
Q1_nota = df['nota'].quantile(0.25)
Q3_nota = df['nota'].quantile(0.75)
IQR_nota = Q3_nota - Q1_nota
limite_inferior_nota = Q1_nota - 1.5 * IQR_nota
limite_superior_nota = Q3_nota + 1.5 * IQR_nota

outliers_nota=df[(df['nota'] < limite_inferior_nota) | (df['nota'] > limite_superior_nota)]

print(f'\n\n\t Calculo de IQR e Outliers \n\n')
print(f'\n\t IQR - Campo Renda \n')
print(f'IQR ----------- {IQR_renda:.2f}')
print(f'Quartis -- Q1:  {Q1_renda:-8.2f}   -> Q3: {Q3_renda:-8.2f}')
print(f'Limites -- Inf: {limite_inferior_renda:-5.2f}  -> Sup: {limite_superior_renda:-8.2f}')
print(f'\nPossíveis outliers em "renda":\n{outliers_renda}\n')


print(f'\n\t IQR - Campo Idade \n')
print(f'IQR ----------- {IQR_idade:.2f}')
print(f'Quartis -- Q1: {Q1_idade:-6.2f}   -> Q3: {Q3_idade:-8.2f}')
print(f'Limites -- Inf: {limite_inferior_idade:-5.2f}  -> Sup: {limite_superior_idade:-7.2f}')
print(f'\nPossíveis outliers em "idade":\n{outliers_idade}\n')


print(f'\n\t IQR - Campo Nota \n')
print(f'IQR ----------- {IQR_nota:.2f}')
print(f'Quartis -- Q1: {Q1_nota:-5.2f}   -> Q3: {Q3_nota:-8.2f}')
print(f'Limites -- Inf: {limite_inferior_nota:-5.2f}  -> Sup: {limite_superior_nota:-7.2f}')
print(f'\nPossíveis outliers em "nota": \n{outliers_nota}\n')

	 Calculo de IQR e Outliers



	 IQR - Campo Renda

IQR ----------- 21945.24
Quartis -- Q1:  12854.97   -> Q3: 34800.20
Limites -- Inf: -20062.89  -> Sup: 67718.06

Possíveis outliers em "renda":
        id  idade     renda          cidade categoria  nota feedback
71      72    7.0  88262.74         Vitória         A   1.5      Bom
475    476  110.0  81814.80  Rio de Janeiro         A   1.3      Bom
542    543   14.0  76311.56         Vitória         B   1.5      Bom
1920  1921   92.0  79448.55  Belo Horizonte         A   1.7      Bom


	 IQR - Campo Idade

IQR ----------- 34.00
Quartis -- Q1:  32.00   -> Q3:    66.00
Limites -- Inf: -19.00  -> Sup:  117.00

Possíveis outliers em "idade":
        id  idade    renda          cidade categoria  nota feedback
809    810  120.0  1475.98  Rio de Janeiro         A   1.9      Bom
1695  1696  119.0   694.80  Belo Horizonte         A   2.1      Bom


	 IQR - Campo Nota

IQR ----------- 2.40
Quartis -- Q1:  6.20   -> Q3:     8.60
Limites -- Inf:  2.60  -> Sup:   12.20

Possíveis outliers em "nota":
        id  idade     renda          cidade categoria  nota feedback
71      72    7.0  88262.74         Vitória         A   1.5      Bom
363    364  107.0    513.89  Belo Horizonte       NaN   1.5      NaN
455    456    8.0   1171.46  Rio de Janeiro         A   2.6      Bom
475    476  110.0  81814.80  Rio de Janeiro         A   1.3      Bom
542    543   14.0  76311.56         Vitória         B   1.5      Bom
708    709   93.0   1320.84  Rio de Janeiro         A   2.1      Bom
759    760   84.0   1479.73         Vitória         A   0.6      Bom
809    810  120.0   1475.98  Rio de Janeiro         A   1.9      Bom
1088  1089   14.0   1061.96  Belo Horizonte         B   0.6      Bom
1500  1501   91.0  49763.57  Belo Horizonte         B   1.7      Bom
1629  1630   10.0    498.47  Rio de Janeiro         A   2.2      Bom
1695  1696  119.0    694.80  Belo Horizonte         A   2.1      Bom
1920  1921   92.0  79448.55  Belo Horizonte         A   1.7      Bom
1970  1971  114.0  51067.55       São Paulo         B   2.4      Bom

In [10]:
df.loc[(df['renda'] < limite_inferior_renda) | (df['renda'] > limite_superior_renda), 'renda'] = mediana_renda

In [11]:
outliers_renda=df[(df['renda'] < limite_inferior_renda) | (df['renda'] > limite_superior_renda)]
print(f'\nOutliers em "renda":\n{outliers_renda}\n')

Outliers em "renda":
Empty DataFrame
Columns: [id, idade, renda, cidade, categoria, nota, feedback]
Index: []