In [1]:
#importar bibliotecas necessárias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
from sklearn.preprocessing import StandardScaler

In [2]:
 #ler csv
df=pd.read_csv('dataset_sudeste_simples_realista_outliers-1k.csv')

In [3]:
df.head(40) #mostrar primeiras 40 linhas

    id  idade     renda          cidade categoria  nota feedback
0    1   65.0   8912.27  Belo Horizonte         B   NaN      Bom
1    2   51.0   2668.90  Belo Horizonte         B   0.6     Ruim
2    3   35.0       NaN         Vitória         B   4.4  Regular
3    4   45.0   3417.56       São Paulo         B   1.3      Bom
4    5   56.0   7536.57  Rio de Janeiro         A   8.6      NaN
5    6   53.0   7825.52       São Paulo         B   8.2  Regular
6    7   28.0   3045.86  Belo Horizonte         B   3.8  Regular
7    8   20.0   9873.58  Rio de Janeiro         B   4.6      Bom
8    9   21.0   3103.06         Vitória         B   8.0  Regular
9   10   56.0   7666.91  Belo Horizonte         A   9.2      Bom
10  11   64.0   7027.34       São Paulo         B   5.7  Regular
11  12   37.0   7795.79       São Paulo         A   1.9     Ruim
12  13   49.0   5867.81       São Paulo         A   7.3      Bom
13  14   22.0  11510.20  Belo Horizonte         A   9.3     Ruim
14  15   67.0   5253.13         Vitória         A   NaN     Ruim
15  16   52.0   5771.71  Belo Horizonte         A   9.4      Bom
16  17   23.0   9292.75       São Paulo         A   7.9  Regular
17  18   61.0   7964.48         Vitória         B   5.7      Bom
18  19   44.0   2399.25  Belo Horizonte         B   1.7     Ruim
19  20   18.0   1852.61       São Paulo         A   3.2  Regular
20  21   20.0  12677.68  Rio de Janeiro         A   4.0  Regular
21  22   29.0  11095.14  Rio de Janeiro         B   1.6      Bom
22  23   22.0   4282.48  Rio de Janeiro         A   8.5  Regular
23  24   40.0   8825.12  Belo Horizonte         A   3.4      Bom
24  25   45.0  12667.44  Belo Horizonte         B   2.9  Regular
25  26   25.0   8092.73  Belo Horizonte         B   1.9      Bom
26  27   51.0   4650.38  Belo Horizonte         A   8.1     Ruim
27  28   24.0   3789.53         Vitória         B   0.4  Regular
28  29   24.0   9293.10  Belo Horizonte         A   1.6  Regular
29  30   48.0   3620.39       São Paulo         B   0.6  Regular
30  31   33.0  12029.13  Belo Horizonte         B   6.8      Bom
31  32   66.0   4649.39  Belo Horizonte         B   9.7  Regular
32  33   39.0   6169.55       São Paulo         A   8.3     Ruim
33  34   55.0  12811.09         Vitória         A   2.7     Ruim
34  35   39.0   4279.98         Vitória         A   9.5      Bom
35  36   42.0  10483.31  Rio de Janeiro         A   1.5  Regular
36  37   36.0   2568.97  Rio de Janeiro         B   4.0  Regular
37  38   16.0  10346.35         Vitória         A   1.2     Ruim
38  39   38.0   4752.58  Belo Horizonte         A   5.9  Regular
39  40   43.0   1804.37       São Paulo         B   0.7      Bom

In [4]:
#informações geriais, é possivel ver os tipos de dados, total de colunas, quantos valores não nulos 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         1000 non-null   int64
 1   idade      993 non-null    float64
 2   renda      990 non-null    float64
 3   cidade     992 non-null    object
 4   categoria  990 non-null    object
 5   nota       986 non-null    float64
 6   feedback   992 non-null    object
dtypes: float64(3), int64(1), object(3)
memory usage: 54.8+ KB

In [5]:
df.describe() #Informações estatísticas

                id       idade         renda        nota
count  1000.000000  993.000000    990.000000  986.000000
mean    500.500000   42.886203   7213.230515    5.136207
std     288.819436   16.023802   4092.152138    2.895801
min       1.000000    3.000000    473.610000   -3.600000
25%     250.750000   29.000000   3792.745000    2.800000
50%     500.500000   43.000000   7158.405000    5.200000
75%     750.250000   56.000000  10340.997500    7.400000
max    1000.000000  120.000000  45312.730000   12.700000

In [6]:
df.describe(include='all') #descrição com mais detalhes

,id,idade,renda,cidade,categoria,nota,feedback
count,1000.000000,993.000000,990.000000,992,990,986.000000,992
unique,NaN,NaN,NaN,4,2,NaN,3
top,NaN,NaN,NaN,Belo Horizonte,A,NaN,Ruim
freq,NaN,NaN,NaN,273,516,NaN,336
mean,500.500000,42.886203,7213.230515,NaN,NaN,5.136207,NaN
std,288.819436,16.023802,4092.152138,NaN,NaN,2.895801,NaN
min,1.000000,3.000000,473.610000,NaN,NaN,-3.600000,NaN
25%,250.750000,29.000000,3792.745000,NaN,NaN,2.800000,NaN
50%,500.500000,43.000000,7158.405000,NaN,NaN,5.200000,NaN
75%,750.250000,56.000000,10340.997500,NaN,NaN,7.400000,NaN
max,1000.000000,120.000000,45312.730000,NaN,NaN,12.700000,NaN

In [7]:
#contar valores nulos 
df.isnull().sum()

id            0
idade         7
renda        10
cidade        8
categoria    10
nota         14
feedback      8
dtype: int64

In [8]:
#utlizando métodos pandas para achar as medidas estatísticas
mediana_idade = df['idade'].median()
mediana_nota = df['nota'].median()
mediana_renda = df['renda'].median()
media_renda = df['renda'].mean()


print(f'Mediana das idades {mediana_idade}')
print(f'Mediana das Notas {mediana_nota}')
print(f'Mediana das rendas {mediana_renda}')
print(f'valor medio das rendas {media_renda:.4f}')

Mediana das idades 43.0
Mediana das Notas 5.2
Mediana das rendas 7158.405
valor medio das rendas 7213.2305

In [9]:
#Calculo IQRe outliers para renda, idade e nota

Q1_renda = df['renda'].quantile(0.25)
Q3_renda = df['renda'].quantile(0.75)
IQR_renda = Q3_renda - Q1_renda
limite_inferior_renda = Q1_renda - 1.5 * IQR_renda
limite_superior_renda = Q3_renda + 1.5 * IQR_renda

outliers_renda=df[(df['renda'] < limite_inferior_renda) | (df['renda'] > limite_superior_renda)]

#---------------------------------------------------------

Q1_idade = df['idade'].quantile(0.25)
Q3_idade = df['idade'].quantile(0.75)
IQR_idade = Q3_idade - Q1_idade
limite_inferior_idade = Q1_idade - 1.5 * IQR_idade
limite_superior_idade = Q3_idade + 1.5 * IQR_idade

outliers_idade=df[(df['idade'] < limite_inferior_idade) | (df['idade'] > limite_superior_idade)]

#---------------------------------------------------------
Q1_nota = df['nota'].quantile(0.25)
Q3_nota = df['nota'].quantile(0.75)
IQR_nota = Q3_nota - Q1_nota
limite_inferior_nota = Q1_nota - 1.5 * IQR_nota
limite_superior_nota = Q3_nota + 1.5 * IQR_nota

outliers_nota=df[(df['nota'] < limite_inferior_nota) | (df['nota'] > limite_superior_nota)]

print(f'\n\n\t Calculo de IQR e Outliers \n\n')
print(f'\n\t IQR - Campo Renda \n')
print(f'IQR ----------- {IQR_renda:.2f}')
print(f'Quartis -- Q1:  {Q1_renda:-8.2f}   -> Q3: {Q3_renda:-8.2f}')
print(f'Limites -- Inf: {limite_inferior_renda:-5.2f}  -> Sup: {limite_superior_renda:-8.2f}')
print(f'\nPossíveis outliers em "renda":\n{outliers_renda}\n')


print(f'\n\t IQR - Campo Idade \n')
print(f'IQR ----------- {IQR_idade:.2f}')
print(f'Quartis -- Q1: {Q1_idade:-6.2f}   -> Q3: {Q3_idade:-8.2f}')
print(f'Limites -- Inf: {limite_inferior_idade:-5.2f}  -> Sup: {limite_superior_idade:-7.2f}')
print(f'\nPossíveis outliers em "idade":\n{outliers_idade}\n')


print(f'\n\t IQR - Campo Nota \n')
print(f'IQR ----------- {IQR_nota:.2f}')
print(f'Quartis -- Q1: {Q1_nota:-5.2f}   -> Q3: {Q3_nota:-8.2f}')
print(f'Limites -- Inf: {limite_inferior_nota:-5.2f}  -> Sup: {limite_superior_nota:-7.2f}')
print(f'\nPossíveis outliers em "nota": \n{outliers_nota}\n')

	 Calculo de IQR e Outliers



	 IQR - Campo Renda

IQR ----------- 6548.25
Quartis -- Q1:   3792.74   -> Q3: 10341.00
Limites -- Inf: -6029.63  -> Sup: 20163.38

Possíveis outliers em "renda":
      id  idade     renda          cidade categoria  nota feedback
334  335    4.0  45312.73  Belo Horizonte         A  11.1  Regular
702  703    8.0  26964.82       São Paulo         B  -3.6     Ruim
714  715    7.0  36505.96         Vitória         A  -1.2      Bom
849  850   10.0  33199.49         Vitória         A  11.8  Regular
888  889   11.0  32115.54         Vitória         A  -2.3  Regular
914  915  120.0  21792.73       São Paulo         B  12.5      Bom


	 IQR - Campo Idade

IQR ----------- 27.00
Quartis -- Q1:  29.00   -> Q3:    56.00
Limites -- Inf: -11.50  -> Sup:   96.50

Possíveis outliers em "idade":
      id  idade     renda     cidade categoria  nota feedback
834  835  104.0  19427.42  São Paulo         B  -3.6     Ruim
914  915  120.0  21792.73  São Paulo         B  12.5      Bom


	 IQR - Campo Nota

IQR ----------- 4.60
Quartis -- Q1:  2.80   -> Q3:     7.40
Limites -- Inf: -4.10  -> Sup:   14.30

Possíveis outliers em "nota":
Empty DataFrame
Columns: [id, idade, renda, cidade, categoria, nota, feedback]
Index: []

In [10]:
df.loc[(df['renda'] < limite_inferior_renda) | (df['renda'] > limite_superior_renda), 'renda'] = mediana_renda

In [11]:
outliers_renda=df[(df['renda'] < limite_inferior_renda) | (df['renda'] > limite_superior_renda)]
print(f'\nOutliers em "renda":\n{outliers_renda}\n')

Outliers em "renda":
Empty DataFrame
Columns: [id, idade, renda, cidade, categoria, nota, feedback]
Index: []

In [12]:
# Codificação das colunas categóricas 'cidade', 'categoria' e 'feedback' com get.dummies .
# transforma cada categoria distinta em uma nova coluna binária,
# facilitando a análise e uso desses dados em modelos estatísticos e de machine learning.
# O parâmetro drop_first=False garante que todas as categorias sejam mantidas (sem exclusão da primeira)
#dtype=int  # Garante que os valores serão 0 ou 1 (int) em vez de True/False (bool)
df_encoded = pd.get_dummies(df, columns=['cidade','feedback'], drop_first=False, dtype=int)

In [13]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     1000 non-null   int64
 1   idade                  993 non-null    float64
 2   renda                  990 non-null    float64
 3   categoria              990 non-null    object
 4   nota                   986 non-null    float64
 5   cidade_Belo Horizonte  1000 non-null   int64
 6   cidade_Rio de Janeiro  1000 non-null   int64
 7   cidade_São Paulo       1000 non-null   int64
 8   cidade_Vitória         1000 non-null   int64
 9   feedback_Bom           1000 non-null   int64
 10  feedback_Regular       1000 non-null   int64
 11  feedback_Ruim          1000 non-null   int64
dtypes: float64(3), int64(8), object(1)
memory usage: 93.9+ KB

In [14]:
# lista com os nomes das colunas numéricas que queremos padronizar (normalizar):
numeric_cols = ['idade', 'renda', 'nota']

In [15]:
# Criamos um objeto StandardScaler, que vai aplicar a padronização: transformar os dados para que
# tenham média 0 e desvio padrão 1.
scaler = StandardScaler()

In [16]:
# Aplicamos a padronização nas colunas numéricas do DataFrame 'df_encoded'. O método fit_transform
# calcula a média e o desvio padrão de cada coluna e transforma os valores para a escala padronizada.
# Substituímos as colunas originais pelas colunas padronizadas.
df_encoded[numeric_cols] = scaler.fit_transform(df_encoded[numeric_cols])

In [17]:
df_encoded[numeric_cols].head(10)

      idade     renda      nota
0  1.380755  0.525208       NaN
1  0.506614 -1.243891 -1.567272
2 -0.492404       NaN -0.254362
3  0.131983 -1.031753 -1.325420
4  0.818807  0.135395  1.196750
5  0.631491  0.217271  1.058549
6 -0.929474 -1.137077 -0.461663
7 -1.428983  0.797602 -0.185261
8 -1.366544 -1.120869  0.989449
9  0.818807  0.172328  1.404052

In [18]:
df_encoded.head(10)

,id,idade,renda,categoria,nota,cidade_Belo Horizonte,cidade_Rio de Janeiro,cidade_São Paulo,cidade_Vitória,feedback_Bom,feedback_Regular,feedback_Ruim
0,1,1.380755,0.525208,B,NaN,1,0,0,0,1,0,0
1,2,0.506614,-1.243891,B,-1.567272,1,0,0,0,0,0,1
2,3,-0.492404,NaN,B,-0.254362,0,0,0,1,0,1,0
3,4,0.131983,-1.031753,B,-1.325420,0,0,1,0,1,0,0
4,5,0.818807,0.135395,A,1.196750,0,1,0,0,0,0,0
5,6,0.631491,0.217271,B,1.058549,0,0,1,0,0,1,0
6,7,-0.929474,-1.137077,B,-0.461663,1,0,0,0,0,1,0
7,8,-1.428983,0.797602,B,-0.185261,0,1,0,0,1,0,0
8,9,-1.366544,-1.120869,B,0.989449,0,0,0,1,0,1,0
9,10,0.818807,0.172328,A,1.404052,1,0,0,0,1,0,0