In [1]:
#importar bibliotecas necess√°rias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
from sklearn.preprocessing import StandardScaler

In [2]:
df_realista=pd.read_csv('dataset_feedback_realista.csv') #ler csv

In [ ]:
df_realista.head(40) #mostrar primeiras 40 linhas

    id  idade     renda          cidade categoria  nota feedback
0    1   54.0   7003.43  Rio de Janeiro         B   5.9  Regular
1    2   61.0   3306.15     Joao Pessoa         B   8.2  Regular
2    3   59.0  12393.80          Cuiaba         A   1.5     Ruim
3    4   67.0  11475.67        Salvador         A   4.5  Regular
4    5   67.0  10270.76         Aracaju         B   0.4     Ruim
5    6   57.0   9680.57     Joao Pessoa         A   4.2  Regular
6    7   65.0   7666.08   Florianopolis         A   3.3     Ruim
7    8   59.0   4176.67        Teresina         B   4.7  Regular
8    9   69.0       NaN        Curitiba         A   9.4      Bom
9   10   62.0  11491.07  Rio de Janeiro         B   4.3  Regular
10  11   20.0   3247.06    Campo Grande         A   9.9      Bom
11  12   45.0       NaN        Curitiba         B   6.8  Regular
12  13   47.0   6997.07             NaN         B   6.2  Regular
13  14   40.0   5028.84          Cuiaba         A   8.1      Bom
14  15   37.0   6194.84       Fortaleza         A   2.4     Ruim
15  16   56.0       NaN  Rio de Janeiro         B   9.4  Regular
16  17   58.0       NaN  Belo Horizonte         B   9.8      Bom
17  18   53.0  10968.13          Cuiaba         B   3.4     Ruim
18  19   59.0   7111.27          Cuiaba         A   0.8     Ruim
19  20   34.0   5057.13           Natal         B   3.5     Ruim
20  21   52.0   2984.07       Fortaleza         B   4.2  Regular
21  22   55.0  14057.35          Palmas         B   7.9  Regular
22  23   48.0   9140.80  Belo Horizonte         A   7.7      Bom
23  24   37.0  12700.36          Maceio         A   5.8  Regular
24  25   57.0  13361.08       Sao Paulo         A   4.7  Regular
25  26   57.0   4665.02        Teresina         A   1.2     Ruim
26  27   52.0   7036.58        Brasilia         A   5.7  Regular
27  28   34.0  12905.55    Porto Alegre         A   2.9     Ruim
28  29   44.0   4512.27    Campo Grande         A   7.5      Bom
29  30   27.0   4443.42         Aracaju         B   3.8     Ruim
30  31   27.0  13837.02          Manaus         B   8.1  Regular
31  32   43.0   4945.21          Manaus         B   2.7     Ruim
32  33   60.0   7882.55       Fortaleza         A   3.3     Ruim
33  34    NaN   5927.42    Porto Alegre         A   7.4      Bom
34  35   20.0  13452.06             NaN         A  10.0      Bom
35  36   17.0  10786.97  Belo Horizonte         B   1.9  Regular
36  37   39.0   7457.87   Florianopolis         B   3.4     Ruim
37  38   66.0  12385.07    Campo Grande         B   7.1  Regular
38  39   52.0  10327.08    Porto Alegre         A   4.4  Regular
39  40   49.0  15150.78         Aracaju         A   4.6     Ruim

In [4]:
#informa√ß√µes geriais, √© possivel ver os tipos de dados, total de colunas, quantos valores n√£o nulos 
df_realista.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         5000 non-null   int64
 1   idade      4746 non-null   float64
 2   renda      4720 non-null   float64
 3   cidade     4753 non-null   object
 4   categoria  5000 non-null   object
 5   nota       4758 non-null   float64
 6   feedback   5000 non-null   object
dtypes: float64(3), int64(1), object(3)
memory usage: 273.6+ KB

In [5]:
df_realista.describe() #Informa√ß√µes estat√≠sticas

                id        idade         renda         nota
count  5000.000000  4746.000000   4720.000000  4758.000000
mean   2500.500000    43.053097   8489.117661     5.023119
std    1443.520003    15.917044   4059.636389     2.893452
min       1.000000    16.000000   1542.600000     0.000000
25%    1250.750000    29.000000   4959.345000     2.500000
50%    2500.500000    43.000000   8476.700000     5.000000
75%    3750.250000    57.000000  12032.625000     7.500000
max    5000.000000    70.000000  15419.680000    10.000000

In [6]:
df_realista.describe(include='all') #descri√ß√£o com mais detalhes

,id,idade,renda,cidade,categoria,nota,feedback
count,5000.000000,4746.000000,4720.000000,4753,5000,4758.000000,5000
unique,NaN,NaN,NaN,20,2,NaN,3
top,NaN,NaN,NaN,Cuiaba,A,NaN,Ruim
freq,NaN,NaN,NaN,273,2522,NaN,2259
mean,2500.500000,43.053097,8489.117661,NaN,NaN,5.023119,NaN
std,1443.520003,15.917044,4059.636389,NaN,NaN,2.893452,NaN
min,1.000000,16.000000,1542.600000,NaN,NaN,0.000000,NaN
25%,1250.750000,29.000000,4959.345000,NaN,NaN,2.500000,NaN
50%,2500.500000,43.000000,8476.700000,NaN,NaN,5.000000,NaN
75%,3750.250000,57.000000,12032.625000,NaN,NaN,7.500000,NaN
max,5000.000000,70.000000,15419.680000,NaN,NaN,10.000000,NaN

In [7]:
#utlizando m√©todos pandas para achar as medidas estat√≠sticas
mediana_idade = df_realista['idade'].median()
mediana_nota = df_realista['nota'].median()
media_renda = df_realista['renda'].mean()

print(f'Mediana das idades {mediana_idade}')
print(f'Mediana das Notas {mediana_nota}')
print(f'valor medio das rendas {media_renda:.4f}')

Mediana das idades 43.0
Mediana das Notas 5.0
valor medio das rendas 8489.1177

In [8]:
#Calculo IQRe outliers para renda, idade e nota

Q1_renda = df_realista['renda'].quantile(0.25)
Q3_renda = df_realista['renda'].quantile(0.75)
IQR_renda = Q3_renda - Q1_renda
limite_inferior_renda = Q1_renda - 1.5 * IQR_renda
limite_superior_renda = Q3_renda + 1.5 * IQR_renda

outliers_renda=df_realista[(df_realista['renda'] < limite_inferior_renda) | (df_realista['renda'] > limite_superior_renda)]

#---------------------------------------------------------

Q1_idade = df_realista['idade'].quantile(0.25)
Q3_idade = df_realista['idade'].quantile(0.75)
IQR_idade = Q3_idade - Q1_idade
limite_inferior_idade = Q1_idade - 1.5 * IQR_idade
limite_superior_idade = Q3_idade + 1.5 * IQR_idade

outliers_idade=df_realista[(df_realista['idade'] < limite_inferior_idade) | (df_realista['idade'] > limite_superior_idade)]

#---------------------------------------------------------
Q1_nota = df_realista['nota'].quantile(0.25)
Q3_nota = df_realista['nota'].quantile(0.75)
IQR_nota = Q3_nota - Q1_nota
limite_inferior_nota = Q1_nota - 1.5 * IQR_nota
limite_superior_nota = Q3_nota + 1.5 * IQR_nota

outliers_nota=df_realista[(df_realista['nota'] < limite_inferior_nota) | (df_realista['nota'] > limite_superior_nota)]

print(f'\n\n\t Calculo de IQR e Outliers \n\n')
print(f'\n\t IQR - Campo Renda \n')
print(f'IQR ----------- {IQR_renda:.2f}')
print(f'Quartis -- Q1: {Q1_renda:-8.2f}   -> Q3: {Q3_renda:-8.2f}')
print(f'Limites -- Inf: {limite_inferior_renda:-5.2f}  -> Sup: {limite_superior_renda:-8.2f}')
print(f'\nPoss√≠veis outliers em "renda":\n{outliers_renda}\n')


print(f'\n\t IQR - Campo Idade \n')
print(f'IQR ----------- {IQR_idade:.2f}')
print(f'Quartis -- Q1: {Q1_idade:-6.2f}   -> Q3: {Q3_idade:-8.2f}')
print(f'Limites -- Inf: {limite_inferior_idade:-5.2f}  -> Sup: {limite_superior_idade:-7.2f}')
print(f'\nPoss√≠veis outliers em "idade":\n{outliers_idade}\n')


print(f'\n\t IQR - Campo Nota \n')
print(f'IQR ----------- {IQR_nota:.2f}')
print(f'Quartis -- Q1: {Q1_nota:-5.2f}   -> Q3: {Q3_nota:-8.2f}')
print(f'Limites -- Inf: {limite_inferior_nota:-5.2f}  -> Sup: {limite_superior_nota:-7.2f}')
print(f'\nPoss√≠veis outliers em "nota": \n{outliers_nota}\n')

	 Calculo de IQR e Outliers



	 IQR - Campo Renda

IQR ----------- 7073.28
Quartis -- Q1:  4959.35   -> Q3: 12032.62
Limites -- Inf: -5650.57  -> Sup: 22642.54

Poss√≠veis outliers em "renda":
Empty DataFrame
Columns: [id, idade, renda, cidade, categoria, nota, feedback]
Index: []


	 IQR - Campo Idade

IQR ----------- 28.00
Quartis -- Q1:  29.00   -> Q3:    57.00
Limites -- Inf: -13.00  -> Sup:   99.00

Poss√≠veis outliers em "idade":
Empty DataFrame
Columns: [id, idade, renda, cidade, categoria, nota, feedback]
Index: []


	 IQR - Campo Nota

IQR ----------- 5.00
Quartis -- Q1:  2.50   -> Q3:     7.50
Limites -- Inf: -5.00  -> Sup:   15.00

Poss√≠veis outliers em "nota":
Empty DataFrame
Columns: [id, idade, renda, cidade, categoria, nota, feedback]
Index: []

In [9]:
# Observa√ß√£o: os valores negativos nos limites inferiores n√£o indicam erro.
# Eles s√£o resultado direto da f√≥rmula do IQR: Q1 - 1.5 * IQR.
# Mesmo que o limite inferior seja negativo, isso s√≥ afetar√° a identifica√ß√£o de outliers
# se existirem valores reais menores que esse limite ‚Äî o que n√£o acontece, por exemplo,
# em colunas como idade, renda ou nota (que n√£o podem ser negativas).

In [10]:
#contar valores nulos 
df_realista.isnull().sum()

id             0
idade        254
renda        280
cidade       247
categoria      0
nota         242
feedback       0
dtype: int64

In [11]:
#importante tratar valores nulos
# para os valores numericos podemos substituir os valores pelas medianas e media encontradas anteriormente  
df_realista['idade']=df_realista['idade'].fillna(mediana_idade)
df_realista['nota']=df_realista['nota'].fillna(mediana_nota)
df_realista['renda']=df_realista['renda'].fillna(media_renda)


#para os valores N√ÉO numericos podemos colocar "N√£o informado" nas celulas nulas
df_realista['cidade']=df_realista['cidade'].fillna('N√£o informado')
df_realista['feedback']=df_realista['feedback'].fillna('N√£o informado')

In [12]:
#visualisar os dados ap√≥s o traitamento 
df_realista.head(20)

    id  idade         renda          cidade categoria  nota feedback
0    1   54.0   7003.430000  Rio de Janeiro         B   5.9  Regular
1    2   61.0   3306.150000     Joao Pessoa         B   8.2  Regular
2    3   59.0  12393.800000          Cuiaba         A   1.5     Ruim
3    4   67.0  11475.670000        Salvador         A   4.5  Regular
4    5   67.0  10270.760000         Aracaju         B   0.4     Ruim
5    6   57.0   9680.570000     Joao Pessoa         A   4.2  Regular
6    7   65.0   7666.080000   Florianopolis         A   3.3     Ruim
7    8   59.0   4176.670000        Teresina         B   4.7  Regular
8    9   69.0   8489.117661        Curitiba         A   9.4      Bom
9   10   62.0  11491.070000  Rio de Janeiro         B   4.3  Regular
10  11   20.0   3247.060000    Campo Grande         A   9.9      Bom
11  12   45.0   8489.117661        Curitiba         B   6.8  Regular
12  13   47.0   6997.070000   N√£o informado         B   6.2  Regular
13  14   40.0   5028.840000          Cuiaba         A   8.1      Bom
14  15   37.0   6194.840000       Fortaleza         A   2.4     Ruim
15  16   56.0   8489.117661  Rio de Janeiro         B   9.4  Regular
16  17   58.0   8489.117661  Belo Horizonte         B   9.8      Bom
17  18   53.0  10968.130000          Cuiaba         B   3.4     Ruim
18  19   59.0   7111.270000          Cuiaba         A   0.8     Ruim
19  20   34.0   5057.130000           Natal         B   3.5     Ruim

In [13]:
#visualizar ultimas 20 linhas 
df_realista.tail(20)

        id  idade     renda         cidade categoria  nota feedback
4980  4981   30.0   4130.55    Joao Pessoa         B   7.3      Bom
4981  4982   30.0  11660.79    Joao Pessoa         A   3.0     Ruim
4982  4983   37.0  14493.23         Cuiaba         B   9.2  Regular
4983  4984   32.0   5999.16         Recife         A   1.2     Ruim
4984  4985   68.0   6818.06   Campo Grande         B   7.2  Regular
4985  4986   25.0   6847.48  N√£o informado         B   3.0     Ruim
4986  4987   21.0  14238.70      Fortaleza         A   9.6      Bom
4987  4988   57.0  14838.75        Aracaju         A   9.2      Bom
4988  4989   69.0  12576.37       Teresina         B   4.5  Regular
4989  4990   35.0  14637.49       Teresina         A   0.3     Ruim
4990  4991   56.0  15358.77   Porto Alegre         B   5.1  Regular
4991  4992   35.0  10690.62       Curitiba         B   5.4  Regular
4992  4993   64.0  10116.75         Maceio         B   0.5     Ruim
4993  4994   16.0  14292.89         Recife         A   3.1     Ruim
4994  4995   44.0  14951.34    Joao Pessoa         A   4.7     Ruim
4995  4996   68.0  13716.68       Brasilia         A   2.9     Ruim
4996  4997   64.0  13744.18      Sao Paulo         B   6.1  Regular
4997  4998   26.0   8834.74        Goiania         A   6.8      Bom
4998  4999   16.0   6145.14       Salvador         B   5.4     Ruim
4999  5000   33.0  14609.42       Salvador         B   6.8  Regular

In [14]:
df_realista.isnull().sum() #contando numeros nulos ap√≥s o tratamento

id           0
idade        0
renda        0
cidade       0
categoria    0
nota         0
feedback     0
dtype: int64

In [23]:
# Codifica√ß√£o das colunas categ√≥ricas 'cidade', 'categoria' e 'feedback' com get.dummies .
# transforma cada categoria distinta em uma nova coluna bin√°ria,
# facilitando a an√°lise e uso desses dados em modelos estat√≠sticos e de machine learning.
# O par√¢metro drop_first=False garante que todas as categorias sejam mantidas (sem exclus√£o da primeira)
#dtype=int  # Garante que os valores ser√£o 0 ou 1 (int) em vez de True/False (bool)
df_encoded = pd.get_dummies(df_realista, columns=['cidade','categoria','feedback'], drop_first=False, dtype=int)

cidade_Recife            int64
cidade_Rio de Janeiro    int64
cidade_Salvador          int64
cidade_Sao Paulo         int64
cidade_Teresina          int64
categoria_A              int64
categoria_B              int64
feedback_Bom             int64
feedback_Regular         int64
feedback_Ruim            int64
dtype: object

In [24]:
df_encoded.head(10)

,id,idade,renda,nota,cidade_Aracaju,cidade_Belo Horizonte,cidade_Brasilia,cidade_Campo Grande,cidade_Cuiaba,cidade_Curitiba,...,cidade_Recife,cidade_Rio de Janeiro,cidade_Salvador,cidade_Sao Paulo,cidade_Teresina,categoria_A,categoria_B,feedback_Bom,feedback_Regular,feedback_Ruim
0,1,54.0,7003.430000,5.9,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,1,0
1,2,61.0,3306.150000,8.2,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
2,3,59.0,12393.800000,1.5,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,1
3,4,67.0,11475.670000,4.5,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,1,0
4,5,67.0,10270.760000,0.4,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
5,6,57.0,9680.570000,4.2,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
6,7,65.0,7666.080000,3.3,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
7,8,59.0,4176.670000,4.7,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,1,0
8,9,69.0,8489.117661,9.4,0,0,0,0,0,1,...,0,0,0,0,0,1,0,1,0,0
9,10,62.0,11491.070000,4.3,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,1,0

In [25]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 30 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     5000 non-null   int64
 1   idade                  5000 non-null   float64
 2   renda                  5000 non-null   float64
 3   nota                   5000 non-null   float64
 4   cidade_Aracaju         5000 non-null   int64
 5   cidade_Belo Horizonte  5000 non-null   int64
 6   cidade_Brasilia        5000 non-null   int64
 7   cidade_Campo Grande    5000 non-null   int64
 8   cidade_Cuiaba          5000 non-null   int64
 9   cidade_Curitiba        5000 non-null   int64
 10  cidade_Florianopolis   5000 non-null   int64
 11  cidade_Fortaleza       5000 non-null   int64
 12  cidade_Goiania         5000 non-null   int64
 13  cidade_Joao Pessoa     5000 non-null   int64
 14  cidade_Maceio          5000 non-null   int64
 15  cidade_Manaus          5000 non-null   int64
 16  cidade_Natal           5000 non-null   int64
 17  cidade_N√£o informado   5000 non-null   int64
 18  cidade_Palmas          5000 non-null   int64
 19  cidade_Porto Alegre    5000 non-null   int64
 20  cidade_Recife          5000 non-null   int64
 21  cidade_Rio de Janeiro  5000 non-null   int64
 22  cidade_Salvador        5000 non-null   int64
 23  cidade_Sao Paulo       5000 non-null   int64
 24  cidade_Teresina        5000 non-null   int64
 25  categoria_A            5000 non-null   int64
 26  categoria_B            5000 non-null   int64
 27  feedback_Bom           5000 non-null   int64
 28  feedback_Regular       5000 non-null   int64
 29  feedback_Ruim          5000 non-null   int64
dtypes: float64(3), int64(27)
memory usage: 1.1 MB

In [26]:
# Definimos uma lista com os nomes das colunas num√©ricas que queremos padronizar (normalizar):
numeric_cols = ['idade', 'renda', 'nota']

# Criamos um objeto StandardScaler, que vai aplicar a padroniza√ß√£o: transformar os dados para que
# tenham m√©dia 0 e desvio padr√£o 1.
scaler = StandardScaler()

# Aplicamos a padroniza√ß√£o nas colunas num√©ricas do DataFrame 'df_encoded'. O m√©todo fit_transform
# calcula a m√©dia e o desvio padr√£o de cada coluna e transforma os valores para a escala padronizada.
# Substitu√≠mos as colunas originais pelas colunas padronizadas.
df_encoded[numeric_cols] = scaler.fit_transform(df_encoded[numeric_cols])

In [27]:
df_encoded[numeric_cols].head(10)

      idade     renda      nota
0  0.706159 -0.376704  0.311097
1  1.157602 -1.314169  1.126044
2  1.028618  0.990053 -1.247932
3  1.544552  0.757256 -0.184957
4  1.544552  0.451745 -1.637689
5  0.899635  0.302099 -0.291255
6  1.415569 -0.208686 -0.610147
7  1.028618 -1.093444 -0.114093
8  1.673536  0.000000  1.551234
9  1.222093  0.761161 -0.255822

In [28]:
df_encoded.head(10)

,id,idade,renda,nota,cidade_Aracaju,cidade_Belo Horizonte,cidade_Brasilia,cidade_Campo Grande,cidade_Cuiaba,cidade_Curitiba,...,cidade_Recife,cidade_Rio de Janeiro,cidade_Salvador,cidade_Sao Paulo,cidade_Teresina,categoria_A,categoria_B,feedback_Bom,feedback_Regular,feedback_Ruim
0,1,0.706159,-0.376704,0.311097,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,1,0
1,2,1.157602,-1.314169,1.126044,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
2,3,1.028618,0.990053,-1.247932,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,1
3,4,1.544552,0.757256,-0.184957,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,1,0
4,5,1.544552,0.451745,-1.637689,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
5,6,0.899635,0.302099,-0.291255,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
6,7,1.415569,-0.208686,-0.610147,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
7,8,1.028618,-1.093444,-0.114093,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,1,0
8,9,1.673536,0.000000,1.551234,0,0,0,0,0,1,...,0,0,0,0,0,1,0,1,0,0
9,10,1.222093,0.761161,-0.255822,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,1,0